.container {
    display: grid;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px 1fr;
    width: 100%;
}

.banner {
    grid-column: span 3;
    background-color: #8a5454;
}

h1 {
    position: relative;
    top: 35%;
    left:10%;
    font-size: 50px;
    
    margin: 0;
    color: white;
}

/*Home Page*/

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 650px;
}

.left-section > p {
    margin-top: 200px;
    margin-left: 200px; 
    font-weight: bold;
 }
 
 .left-section > ul {
     margin-left: 200px;
     font-weight: bold;
     
 }
 
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section > p {
    font-size: 2em;
}

 button {
    margin-left: 100px;
    background-color: #8a5454;
    color: white;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/*Author Edit Page*/

.container-author-edit {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px minmax(300px, auto) minmax(300px, auto);
    width: 100%;
}

.personal-info-edit {
    grid-row: span 2;
    background-color: #d9d9d9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.stories-list-edit {
    background-color: #d9d9d9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.locations-list-edit {
    background-color: #d9d9d9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.characters-list-edit {
    background-color: #d9d9d9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.collab-list-edit {
    background-color: #d9d9d9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {
    height: 200px;
    position: relative;
    top: 50px;
    left: 50px;
}

.personal-info, .edit-personal-info{
    list-style: none;
    position: relative;
    top: 50px;
    font-size: 20px;
}

.personal-info > li, .edit-personal-info > li {
    margin: 10px;
}

h2 {
    position: relative;
    left: 20px;
}

.edit-link {
    font-size: 20px;
    text-align: right;
    position: relative;
    top: 30px;
    left: -20px;
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr 1fr;
        font-size: 14px
    }

    .container-author-edit {
        gap: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 200px minmax(500px, auto) repeat(4, minmax(300px, auto));
        width: 100%;
    }

    .left-section > p {
        margin-top: 100px;
        margin-left: 100px; 
     }

     .left-section > ul {
        margin-left: 100px;
        
    }

    .banner {
        grid-column: span 1;
        background-color: #8a5454;
    }

    .personal-info-edit {
        grid-row: span 1;
        background-color: #d9d9d9;
    }

}
